/* 
---------------------------------------------
Paralucent Light
	font-family: paralucent, sans-serif;
	font-weight: 300;
	font-style: normal;

Paralucent Light Italic
	font-family: paralucent, sans-serif;
	font-weight: 300;
	font-style: italic;
---------------------------------------------
Paralucent Medium
	font-family: paralucent, sans-serif;
	font-weight: 500;
	font-style: normal;

Paralucent Medium Italic
	font-family: paralucent, sans-serif;
	font-weight: 500;
	font-style: italic;
---------------------------------------------
Paralucent Bold
	font-family: paralucent, sans-serif;
	font-weight: 700;
	font-style: normal;

Paralucent Bold Italic
	font-family: paralucent, sans-serif;
	font-weight: 700;
	font-style: italic;
---------------------------------------------
Paralucent Heavy
	font-family: paralucent, sans-serif;
	font-weight: 900;
	font-style: normal;

Paralucent Heavy Italic
	font-family: paralucent, sans-serif;
	font-weight: 900;
	font-style: italic;
---------------------------------------------
---------------------------------------------
Tzimmes Regular
	font-family: tzimmes, serif;
	font-weight: 400;
	font-style: normal;

Tzimmes Regular Italic
	font-family: tzimmes, serif;
	font-weight: 400;
	font-style: italic;
---------------------------------------------
Tzimmes Bold
	font-family: tzimmes, serif;
	font-weight: 700;
	font-style: normal;

Tzimmes Bold Italic
	font-family: tzimmes, serif;
	font-weight: 700;
	font-style: italic;
---------------------------------------------
Tzimmes Black
	font-family: tzimmes-black, serif;
	font-weight: 900;
	font-style: normal;

Tzimmes Black Italic
	font-family: tzimmes-black, serif;
	font-weight: 900;
	font-style: italic;
---------------------------------------------
Tzimmes Heavy
	font-family: tzimmes-heavy, serif;
	font-weight: 900;
	font-style: normal;

Tzimmes Heavy Italic
	font-family: tzimmes-heavy, serif;
	font-weight: 900;
	font-style: italic;
---------------------------------------------
 */